@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Pro:wght@300&family=Crimson+Text&family=Dancing+Script:wght@500&display=swap');

.top_content{
      color: white;
      position: relative;
}
.topcontent_container{
      position: absolute;
      top: 300px;
      right: 150px;
}

.topcontent_container>p{
      letter-spacing: 1px;
      text-align: left;
      padding-left: 3px;
      padding-top: 20px;
}
.topcontent_container>a>button{
      margin-top: 30px;
      text-align: left;
      margin-left: 15px;
      border: none;
      border-radius: 10px;
      outline: none;
}

.topcontent_container>h1{
      font-size: 50px;
      font-family: "montserrat",sans-serif;

}
.topcontent_downloadbutton{
      color: white;
      background-color: orangered;
      font-size: 14px;
      padding: 10px 30px;
      font-family:"montserrat",sans-serif;
      font-weight: 300;
      cursor: pointer;
      margin-right: 20px;
      transition-duration: 300ms;
}
.topcontent_downloadbutton:hover{
      background-color:white;
      color: orangered;
     
    

}

.topcontent_workbutton{
      color: white;
      border: 1px solid white !important;
      background-color: transparent;
      cursor: pointer;
      font-size: 14px;
      padding: 9px 45px;
      font-family:"montserrat",sans-serif;
      font-weight: 300;
      transition-duration: 300ms;
}

.topcontent_workbutton:hover{
      color: black;
      background-color: white;
      
}
